<div class="about-content">
  <div id="about-image">
    <img src='/assets/popcorn_action.jpg'>
  </div>
  <div class="about">
    Grab your popcorn and see what's poppin! 
    "What's Poppin" is your destination for finding and reviewing today's top movies!
  </div>
</div>
