<div class="about-content">
  <h2>What We're About</h2>

  <div class="about">
    Grab your popcorn and see what's poppin! 
    "What's Poppin" is your destination for finding and reviewing today's top movies!
  </div>
  <div id="about-image">
    <img src='/assets/popcorn_action.jpg'>
    <a href="https://github.com/jambion/whatspoppin">https://github.com/jambion/whatspoppin</a>
  </div>
</div>
