

<div class="browse-page">

  <div class="browse-listing-index">
    <h2 class="heading">The Most Popular Movies</h2>
    <table class="movie-table tablesorter">
    <thead>
      <tr>
        <th class="{sorter: false}"></th>
        <th>Title<img src="/assets/bg.gif"/></th>
        <th>Genre<img src="/assets/bg.gif"/></th>
        <th>Release Date<img src="/assets/bg.gif"/></th>

      </tr>
    </thead>
    <tbody id="browse-list">
  
    </tbody>
    
    </table>
  </div>
  
  <div class="browse-reviews">
    <h2 class="heading">Recent Reviews</h2>
    <table>
    <% @reviews.each do |review| %>
    <div class="review-index-info">
      <a href="/movies/<%= review.movie.id %>"><%= review.movie.title %></a><br />
      Rating: <%= review.rating %> <br />
      Review By: <%= review.user_email %> <br />
      
    </div>
    <% end %>
      
    </table>
    
  </div>
  
  
</div>