<%= javascript_include_tag "search", "data-turbolinks-track" => true  %>


<div class="search-page">
  
  <div class="search">
    <h2 class="heading">Search Movies</h2>
    <input type="text" id="searchInput" placeholder="Search Movie">
    <button id="submit">Search!</button>
  </div>
  
  <div class="movie-listing-index">
      <table class="search-table  movie-table tablesorter">
      <thead>
        <tr>
          <th class="{sorter: false}"></th>
          <th>Title<img src="/assets/bg.gif"/></th>
          <th>Genre<img src="/assets/bg.gif"/></th>
          <th>Release Date<img src="/assets/bg.gif"/></th>
        </tr>
      </thead>
      
      <tbody id="search-list">
      </tbody>
      </table>
  </div>
</div>


