// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movie-show {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: center;
}

.show-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-bottom {
  display: flex;
  justify-content: space-around;
  // border: solid 1px black;
  width: 70%;
  // align-items: center;
  // margin: 20px;
}

.show-review-header {
  font-size: 200%;
}

.show-movie {
  display: flex;
  justify-content: center;
}

.show-single-movie {
  margin: 5px;
  // border: 1px solid red;
}

