#movies-index {
  margin: auto;
  width: 50%;
  text-align: center;
}
.movie-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-header {
  font-size: 200%;
}

.show-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-bottom {
  display: flex;
  justify-content: center;
  max-width: 700px;
  background: #E7EEEE;
  margin: 20px;
  padding: 15px;

}

.show-movie {
  display: flex;
}

.single-review {
  margin-top: 10px;
}

.show-reviews {
  margin-left: 20px;
}

.show-single-movie {
  width: 50%;
}

.rating {
  font-size: 137%;
}

.author {
  font-size: 117%;
}

.show-poster {
  margin-right: 20px;
}


