.browse-page {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  display: flex;
  justify-content: center
}

h2 {
  text-align: center;
}

.browse-listing-index {
  margin-right: 15px;
}

.browse-reviews {
  margin-left: 15px;
}

#recent-reviews {
  padding: 10px 15px 15px 15px;
  background: #E7EEEE;
}

tr {
  text-align: center;
}

.search-table {
  display: none;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image {
  margin-bottom: 20px;
}