// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// .content {
//   width: 70%;
//   display: flex;
//   justify-content: center;
//   border: 1px solid blue;
// }

.browse-page {
  display: flex;
  justify-content: space-around;
  // border: 1px solid black;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid black;
}


h2 {
  text-align: center;
}

.browse-listing-index {
  margin-right: 15px;
}

.browse-reviews {
  margin-left: 15px;
  // border: 1px solid black;
  // padding: 10px;
}

#recent-reviews {
  // border: 1px solid blue;
  padding: 10px 15px 15px 15px;
  background: #E7EEEE;
}

tr {
  text-align: center;
}

.search-table {
  display: none;
}