<header>
  <div class="nav-flex-container">
    <h1 id="header-title"><%= link_to "What's Poppin?!", root_path %></h1> Only showin' what's worth knowin'
    <%= link_to "Browse Movies | ", "/pages/browse" %> 
    <%= link_to "Search Movies | ", "/pages/search" %>
    <%= link_to "View Reviews", reviews_path %>
    
    

  </div>
</header>