<header>
  <div class="nav-flex-container">
    <div class = "left-nav">
    <h1 id="header-title"><%= link_to "What's Poppin?", root_path %><img src='/assets/poppin.jpg' width=37></h1>
    </div>
    
    <div class="mid-nav">
      Only showin' what's worth knowin'
    </div>
    
    <div class="right-nav">
    
    <%= link_to "Home | ", root_path %> 
    <%= link_to "Search Movies | ", "/pages/search" %>
    <%= link_to "View Reviews", reviews_path %>
    </div>
    

  </div>
</header>